.container,
.homeContainer {
  background-color: var(--background);
}

.container {
  padding: 2.5rem 1rem;
}

.homeContainer {
  padding: 5rem 1rem;
}

.logo {
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.8;
  }
}
